.ads-bann {
    background-color: #CCCCCC;
    color: #333;
    height: 80px;
    width: 380px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
}